/* * {
  margin: 0;
}

.titulo {
  color: orange;
  font-size: 90px;
  text-align: left;

}

.top {
  background-color: lightgrey;
  background-size: cover;
  height: 100vh;
}

.parte_dos {
  background-color: black;
  background-size: cover;
  height: 100vh;
} */
* {
  margin: 0;
  padding: 0;
}

/* :root {
  --primary-color: white;
} */

body {
  height: 200vh;
}

.header {
  height: 100vh;
  background-image: url("bosque.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: all 1s;
}

.links {
 display: flex;
 justify-content: flex-end;
}

.titulo {
  font-size: 100px;
  text-align: center;
  width: 100%;
  transition: all 1s;
}

.cambioTitulo {
  font-size: 50px;
  width: 410px;
}

.scroll-up {
  height: 60px;
  background-image: none;
  background-color: black;
  color: white;
  justify-content: space-between;
}

.LogoFace {
  width: 30px;
}
