@font-face {
  font-family: cursiva;
  src: url(fonts/cursiva.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
}

.header {
  height: 100vh;
  background-image: url("bosque.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: all 1s;
  font-family: cursiva;
  top: 0;
  z-index: 2;
}

.titulo {
  font-size: 150px;
  text-align: center;
  width: 100%;
  color: white;
  transition: all 1s;
}

.links {
  width: 450px;
}

.hidden {
  display: none;
}

.info {
  color: white;
}

.galeria {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
  transition: transform .3s;
}

.galeria:hover {
  text-decoration: underline;
  transform: translate(3px, -3px);
}

.quienesSomos {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
  transition: transform .3s;
}
.quienesSomos:hover {
  text-decoration: underline;
  transform: translate(3px, -3px);
}

.contactanos {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
  transition: transform .3s;
}

.contactanos:hover {
  text-decoration: underline;
  transform: translate(3px, -3px);
}

.cambioTitulo {
  font-size: 50px;
  width: 300px;
}

.scroll-up {
  height: 75px;
  background-image: none;
  background-color: black;
  color: white;
  justify-content: space-between;
}

.LogoFace {
  width: 30px;
  border-radius: 8px;
  margin: 0 15px;
  transition: transform .3s;
}

.LogoFace:hover {
  cursor: pointer;
  transform: translate(3px, -3px);
}

/* .fotos{
  height: 89vh;
  padding-top: 150px;
  margin: 0 450px; */

  .carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 55px);
    width:100%;
    padding-top: 55px;
    position: relative;
  }
  .imageContainer{
    display: flex;
    height: 100%;
    width: 1500px;
     overflow: hidden;
  }
  .carrouselItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    width: 100%;
    flex-shrink: 0;
    transition: transform .5s;
  }
  .carrouselItem picture {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  .carrouselItem picture img{
    height: 100%;
    width: 100%;
  }
  .arrow-left{
    background-color: gray;
    font-size: 40px;
    border-radius: 80px;
    position: absolute;
    top: 400px;
    left:10px;
    z-index: 1;
    cursor: pointer;
  }
  .arrow-right{
    background-color: gray;
    font-size: 40px;
    border-radius: 80px;
    position: absolute;
    top:400px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
  }


.QS {
  background-color: lightgrey;
  margin-top: 75px;
  height: 89vh;
}

.contacto {
  height: 89vh;
}
